trigger:
- master
- release/*
pool:
  vmImage: 'Ubuntu-16.04'
steps:
- task: NodeTool@0
  inputs:
    versionSpec: 8.15.1
- script: |
    set -o errexit -o pipefail
    npm i
    npm run lint
    npm run build
    npm test
