.warning-view {
    width: 100%;
    padding: 2% 1.5%;
    max-width: 1000px;
    align-self: center;
    .alert {
        margin-bottom: 0;
    }
    span {
        margin-right: 10px;
    }
}

.memory-box-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.memory-layout {
    position: relative;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
    margin: 0% 3%;
    max-width: 500px;
    width: 50%;
    height: 100%;

    .panel-heading {
        padding-bottom: 0;
        .panel-title {
            color: gray;
            display: flex;
            .glyphicon {
                color: rgba(0, 0, 0, 0.175);
                align-self: auto;
                margin-left: auto;
            }
            .target-info {
                padding-left: 0.5em;
                font-size: 12px;
            }
        }
    }
    .panel-heading:hover {
        .target-info {
            color: rgba(0, 0, 0, 0.375);
        }
    }
    .panel-body {
        padding: 1rem;
        background-color: #fff;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .panel-body.vertical {
        column-gap: 1rem;
        row-gap: 0.5rem;
    }
    .panel-body.stacked {
        column-gap: 0rem;
        row-gap: 0rem;
    }
    .panel-body.vertical:not(.empty) {
        grid-template-rows: 1rem;
        grid-auto-columns: 1fr;
    }
    .panel-body.stacked:not(.empty) {
        grid-template-columns: 1rem;
        grid-auto-rows: 1fr;
    }

    #deviceInfo {
        top: 25px;
        left: 14px;
    }
}

.last-checkbox {
    margin-bottom: 0;
}

.memory-layout-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .glyphicon {
        font-size: 4em;
        color: rgba(0, 0, 0, 0.175);
    }
    p {
        color: #9d9d9d;
        padding-top: 20px;
        text-align: center;
    }
}

.core-number {
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.vertical {
    .core-number {
        grid-row: 1;
    }
    .region-container {
        grid-row: 2;
    }
}

.stacked {
    .core-number {
        grid-column: 1;
        writing-mode: vertical-rl;
        border-width: 1px 0;
        border-color: #ccc;
        border-style: solid;
    }
    .region-container {
        grid-column: 2;
    }
}

.core-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    align-self: center;
    position: relative;
    margin-bottom: 16px;

    .region {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .crosses::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg, #f00 25%, #f77 25%, #f77 50%, #f00 50%, #f00 75%, #f77 75%, #f77);
        background-size: 8px 8px;
    }
    .region button {
        display: none;
        z-index: 1000;
        box-shadow: 0px 0px 7px black;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        font-size: 16x;
        position: absolute;
        line-height: 0;
    }
    .region:hover button {
        display: block;
    }
    .erase-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image:  linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        animation-direction: reverse;
    }
    button.transparent {
        .glyphicon {
            color: white;
            margin-right: 0;
        }
        font-size: 16px;
        background: none;
        border: none;
    }
    .read-indicator {
        text-align: center;
        color: white;
        font-size: 16px;
    }
}

.core-container:last-child {
    margin-bottom: 0;
}

.centering-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverable {
    min-height: 0.75rem;
}

.hoverable:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.active {
    animation: progress-bar-stripes 1s linear infinite;
}

.popover {
    border-radius: 0px;
}

#popover-region {
    margin-left: -20px;
}

.popover-body {
    padding-top: 24px;
    color: #005c84;
}

.popover-body h5 {
    font-size: 12px;
    line-height: 6px;
    color: darkgrey;
}

.popover-body p {
    font-size: 15x;
    line-height: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

div:last-child > p {
    padding-bottom: 0;
    border-bottom: 0;
}

.memory-details {
    .files span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        line-height: 1.4em;
    }
}

.icon-spin {
    float: right;
    margin-right: 16px;
    margin-top: 4px;
    animation: spin 1000ms infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.modem-dialog-title {
    display: inline-block;
}

.modem-success {
    background-color: #D0DF00;
    color: #FFF;
    text-align: center;
}

.modem-fail {
    background-color: #EE2F4E;
    color: #FFF;
    text-align: center;
}

.modem-progress .progress {
  background: lightgray;
}
.modem-progress .progress-bar {
  background: steelblue;
  color: white;
  transition: width 1s;
}
