.memory-layout {
    height: 100%;
    flex-grow: 1;
    padding: 3%;
    max-width: 500px;
    width: 50%;
    display: flex;

    .panel {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 0;
        .panel-heading {
            background-color: #fff;
            .panel-title {
                color: gray;
                .glyphicon {
                    color: #ddd;
                }
            }
        }
        .panel-body {
            padding: 15px;
            background-color: #fff;
            display: flex;
            flex: 1;
        }
    }
}

.memory-layout-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .glyphicon {
        font-size: 4em;
        color: rgba(0, 0, 0, 0.175);
    }
    p {
        color: #9d9d9d;
        padding-top: 20px;
        text-align: center;
    }
}

.region-container {
    background-color: #ccc;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    align-self: center;
}

 .region {
    background-color: #0080B7;
 }

 .striped:hover {
    background-color: #005c84 !important;
 }

 .striped {
    background-image:  linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.active {
    animation: progress-bar-stripes 1s linear infinite;
}

#popover-top {
    border-radius: 0px;
    margin-left: -20px;
}

.popover-content {
    color: #005c84;
}

.popover-content h5 {
    font-size: 12px;
    line-height: 6px;
    color: darkgrey;
}

.popover-content p {
    font-size: 15x;
    line-height: 12px;
}

.popover-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee
}
