
.fantasy-view-layout {
    .panel-body {
        padding: 15px;
        background-color: #fff;
        height: 92%;
        display: flex;
        padding-bottom: 1px;
    }
    .panel-heading {
        background-color: #fff;
    }
    .panel {
        height: 100%;
    }
    .panel-title {
        color: gray;
        .glyphicon {
            color: #ddd;
        }
    }
    height: 100%;
    flex-grow: 1;
    padding: 3%;
    max-width: 500px;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .spacer {
      height: 20px;
  }


  .juhuu {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
  }

.alert {
    margin-bottom: 10px;
}

.deviceHelperInfo {
    max-width: 300px;
    min-height: 150px;
    text-align: center;
    padding: 20px;
    .glyphicon {
        font-size: 50px;
        color: rgba(45, 128, 169, 0.15);
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.progress{
    height: 10vh;
    background-color: #ccc;
    margin-top: 5%;
  }

.hide {
    display: none;
 }

 .progress-bar-warning {
     background-color: #ccc;
 }

 .progress-bar-danger {
     background-color: #ccc;
 }

 .regionContainer {
    background-color: #ccc;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    align-self: center;
}

 .region {
    background-color: #0080B7;
 }

 .striped:hover {
    background-color: #005c84 !important;
 }

 .striped {
    // linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image:  linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.active {
    animation: progress-bar-stripes 1s linear infinite;
}

#popover-top {
    border-radius: 0px;
    margin-left: -20px;
}

.popover-content {
    color: #005c84;
}

.popover-content h5 {
    font-size: 12px;
    line-height: 6px;
    color: darkgrey;
}

.popover-content p {
    font-size: 15x;
    line-height: 12px;
}

.popover-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee
}