site_name: Programmer app documentation
site_url: null
use_directory_urls: false
theme:
  name: material
  palette:
  - scheme: custom-blue
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  - scheme: custom-blue-dark
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
  features:
  - content.code.annotate
  - content.tooltips
  - content.tabs.link
  - navigation.indexes
  - navigation.top
  - navigation.tracking
  - search.highlight
  - toc.follow
extra_css:
- stylesheets/style.css
copyright: Copyright &copy; 2019-2024
markdown_extensions:
- abbr
- admonition
- attr_list
- md_in_html
- meta
- pymdownx.details
- pymdownx.keys
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.superfences
- toc:
    permalink: true
    toc_depth: 4
plugins:
- macros
- search
extra:
  test: This is a test abbreviation snippet
nav:
- Get started: index.md
- Overview and user interface: overview.md
- Programming devices:
  - General programming procedure: programming_dk.md
  - Programming nRF91 Series DK firmware: programming_91dk.md
  - Programming Nordic Thingy prototyping platforms: programming_thingy.md
  - Programming nRF52840 Dongle: programming_nrf52840_dongle.md
- Troubleshooting: troubleshooting.md
- Revision history: revision_history.md
